* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  size: 30px
}

@media (max-width: 1900px )and (min-width: 1265px) {
  .nav-mid h1{
    font-size: 20px;
  }
  .left_sidebar {
    flex-basis: 100%;
  }

  .main {
    flex-basis: 70%;
    background: rgb(255, 255, 255);
    border-radius: 0px;
  }

  .body-title h3 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right:  1px;
    font-weight: 600;
    color: #333;
    font-size: 30px;
   
    
  }
  .body-title p {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 1px;
    color: #000000;
    font-size: 12px;
  }
  .body-title img {
    width: 20px;
  }

  .body-text {
    /* background-color: rgb(232, 230, 255); */
    background: linear-gradient(to right, rgb(190, 231, 233), #beedc7);
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    padding: 0px;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .welcome li {
    list-style: none;
    text-align: left  ;
    color: #555;
    margin-left: 100px;
    font-size: 2000px;
    line-height: 150%;
  }

  .body-text2 {
    /* background-color: rgb(232, 230, 255); */
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    padding: 0px;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .body-text3 {
    /* background-color: rgb(232, 230, 255); */
    background: linear-gradient(to right, #ffd1ff,#fad0c4 );
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    padding: 25px;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .body-text5 {
    /* background-color: rgb(232, 230, 255); */
    background: linear-gradient(to right, #a8edea,#fed6e3 );
    text-align: center;
    justify-content: space-between;
    margin: 40px;
    border-radius: 10px;
    padding: 62px;
  }
  .main{
    align-items:center ;
    margin-left: 5%;
    width: 50%;
  }

  .left_sidebar {
    width: 40%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    /* width: 100px; */
    background: rgb(255, 255, 255);
    margin-left: 10px;
  
  }

  .welcome2 p {
    list-style: none;
    text-align: left  ;
    color: #555;
    margin-right: 10px;
    font-size: 24px;
    line-height: 150%;
    
  }
 
}

@media only screen and (max-width: 1265px) {
  .nav-left ul li a img {
    width: 80px;
  }
  .nav-mid h1 {
    display: none;
  }
  .nav-right ul li a span {
    display: none;
  }

  .container {
    padding: 15px 3%;
    display: inline;
  }
  .left_sidebar {
    flex-basis: 100%;
    position: relative;
    top:unset;
  }
  .main {
    flex-basis: 100%;
  }
}


body {
  background-color: rgb(240, 240, 240);
  text-align: left;

}

a {
  text-decoration: none;
  color: #5f5f5f;
}

.nav-mian {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 6px 6%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);

  height: 80px;
}

.logo {
  width: 200px;

  margin-right: 0px;
  display: block;
  /* border-radius: 10%; */
}



.nav-right ul li {
  list-style: none;
  display: inline-block;
  
}

.nav-right ul li a {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-right: 20px;
  /* margin: 5px 8px;
  padding-right: 20px; */
}

.nav-right ul li a img {
  width: 30px;
}

.nav-right ul li a::after {
  content: '';
  width: 0;
  height: 2px;
  background: rgb(100, 100, 100);
  position: absolute;
  bottom: 0px;
  transition: width 0.3s;
}

.nav-right ul li a:hover::after {
  width: 5%;
}

.myself {
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
  margin: 2px 15px;

}

.nav-left ul li img button {
  width: 200px;
  margin: 10px 15px;
}

.me {
  width: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
  /* flex-wrap: wrap; */
}

.left_sidebar {
  flex-basis: 20%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  /* width: 100px; */
  background: rgb(255, 255, 255);
  margin-left: 10px;

}

/* 
.right_sidebar{
  text-align: center;
  flex-basis: 20%;
  position: sticky;
  top:70px;
  align-self: flex-start;
  
  background: rgb(255, 255, 255);
  margin-left: 10px ;
} */

.main {
  flex-basis: 70%;
  background: rgb(255, 255, 255);
  border-radius: 0px;

  margin-right: 4%;

}


.nav-mid {
  font-size: 30px;
  color: rgba(82, 101, 141, 255);
}

.navButton {
  background-color: cadetblue;
  color: white;
  width: 400px;
  height: 45px;
  border: 0;
  font-size: 20px;
  box-sizing: content-box;
  border-radius: 5px;
}

.navButton:hover {
  background-color: darkgreen;

}


.barButton {
  background-color: cadetblue;
  color: white;
  width: 70px;
  height: 45px;
  border: 0;
  font-size: 20px;
  box-sizing: content-box;
  border-radius: 5px;
}

.barButton:hover {
  background-color: darkgreen;

}

.profile {
  background-color: white;
}

.profile_info {
  padding: 0 25px;
  line-height: 25px;
}

.profile_info img {
  width: 120px;
  border-radius: 50%;
  background: #ffffff;
  padding: 5px;
  margin-top: -70px;
  border-color: #5f5f5f;
}

.profile_info ul {
  padding-left: 30px;
  font-weight: 500;
}

.position ul {
  list-style: none;
  margin: 20px 0;
}

.position ul li {
  margin: 5px 0;
  font-size: 16px;
}

.Programe-Languages dl {

  align-items: center;
  text-align: center;
  line-height: 1.5;

}

.Programe-Languages h3 {
  text-align: center;
  padding-top: 20px;
}

.icon-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.icon-list-item {
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
}

.icon-list-item img {
  width: 70px;
  height: 70px;
  border-radius: 0%;
}

.icon-list-item span {
  display: block;
}

.body-text {
  /* background-color: rgb(232, 230, 255); */
  background: linear-gradient(to right, rgb(190, 231, 233), #beedc7);
  margin: 40px;
  text-align: center;
  padding-top: 80px;
  padding: 100px;
  justify-content: space-between;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body-text2 {
  /* background-color: rgb(232, 230, 255); */
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  margin: 40px;
  text-align: center;
  padding-top: 80px;
  padding: 100px;
  justify-content: space-between;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body-text3 {
  /* background-color: rgb(232, 230, 255); */
  background: linear-gradient(to right, #ffd1ff,#fad0c4 );
  margin: 40px;
  text-align: center;
  padding-top: 80px;
  padding: 100px;
  justify-content: space-between;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.body-text5 {
  /* background-color: rgb(232, 230, 255); */
  background: linear-gradient(to right, #a8edea,#fed6e3 );
  text-align: center;
  justify-content: space-between;
  margin: 40px;
  border-radius: 10px;
  padding: 62px;
}

.body-title  {
  border-right: 2px solid #c9c9c9;
}

.body-title2  {
  border-left: 2px solid #c9c9c9;
  padding: 40px;
}

.body-title5 img {
  width: 100px;
  
}

.body-title h3 {
  margin-top: 20px;
  margin-right: 80px;
  font-weight: 600;
  color: #333;
  font-size: 30px;
  
}
.body-title p {
  margin-bottom: 40px;
  margin-right: 80px;
  color: #000000;
  font-size: 26px;
  
}
.body-title img {
  margin-left: 10px;
}

.body-title b {
  color: #004c99;
}


.welcome2 p {
  list-style: none;
  text-align: left  ;
  color: #555;
  margin-right: 150px;
  font-size: 24px;
  line-height: 150%;
}

.body-title img {
  margin-left: 80px;
  margin-right: 160px;
  width: 150px;
}

.welcome li {
  list-style: none;
  text-align: left  ;
  color: #555;
  margin-left: 50px;
  font-size: 24px;
  line-height: 150%;
}

.welcome2 img {
  width: 100px;
  margin-right: 100px;
  margin-top: 50px;
}

.welcome5 h3 {
  margin-top: 50px;
}

.project-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

/* Style individual project cards */
.project-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 15px;
  width: calc(28% - 30px); /* 33.333% width with 15px margin on each side */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.project-card img {
  max-width: 100%;
  border-radius: 8px;
}

.project-card h3 {
  color: #333;
  font-size: 1.2em;
  margin-top: 10px;
}

.project-card p {
  color: #555; /* Adjusted color for better contrast */
  font-size: 1em;
  line-height: 1.4; /* Improved line height for better readability */
  margin: 10px 0;
}

.project-card a {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
}

.project-card img {
  max-width: 100%;
  height: 400px; /* Set a fixed height for all images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 8px;
}

.project-card a:hover {
  background-color: #555;
}

@media screen and (max-width: 768px) {
  .project-card {
    width: calc(50% - 30px); /* Two cards per row on smaller screens */
  }
}