*{
  margin:0;
  padding:0;
  font-family:'Times New Roman', Times, serif;
}

@media (max-width: 600px){
  
}
body{
  background-color: rgb(222, 251, 255);
  text-align: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(181, 173, 255);
  padding: 5px 1%;
  position: sticky;
  top:0;
  z-index: 100;
}
.logo{
  width: 120px
}

.nav-right{
  display: flex;
  align-items: center;
}

.nav-right ul li{
  list-style: none;
  display: inline-block;
  margin:1px 15px ;
  
}
.nav-right ul li img{
  width: 20px;
  margin:1px 15px ;
}

.nav-left{
  display: flex;
  align-items: center;
}

.nav-left ul li{
  list-style: none;
  display: inline-block;
  margin:2px 15px ;
  
}
.nav-left ul li img button{
  width: 200px;
  margin:10px 15px ;
}

.me{
  width: 100px;
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
}

.left_sidebar{
  flex-basis: 20%;
  position: sticky;
  top:70px;
  align-self: flex-start;
  height: 100vh;
  text-align: left;
 
}

.right_sidebar{
  
  flex-basis: 20%;
  position: sticky;
  top:70px;
  align-self: flex-start;
  height: 100vh;
}

.main{  
  flex-basis: 55%;
}

.cSharp{
  width: 100px;
}

.java{
  width: 80px;
}
.nav-mid{
 font-size: 35px;
}
.navButton{
  background-color: red;
  color: white;
  width: 400px;
  height: 45px;
  border: 0;
  font-size: 20px;
  box-sizing: content-box;
  border-radius: 5px;
}
.navButton:hover{
  background-color:darkgreen;
  
}


.barButton{
  background-color: cadetblue;
  color: white;
  width: 70px;
  height: 45px;
  border: 0;
  font-size: 20px;
  box-sizing: content-box;
  border-radius: 5px;
}
.barButton:hover{
  background-color:darkgreen;
  
}

